$raspberry-color: #BC1142;
@import "settings";
body {
  background-color: $dark-color;
}

#logo {
  font-family: 'Lobster';
  font-size: 3em;
  color: white;
  padding: 0em 0em;
  font-weight: normal;
}

#logo-mobile {
  font-family: 'Lobster';
  font-size: 2.5em;
  color: white;
  padding: 0em 0em;
  font-weight: normal;

}

.rounded-right-button {
  // Extend the base selector to get core styles
  @extend %button;
  // Use the size mixin to set a size
  @include button-size(
    $size: medium, // tiny, small, medium, or large
    $expand: false
  );
  // Use the style mixin to set visual styles
  @include button-style(
    $background: $raspberry-color, // Background color
    $background-hover: auto, // Background color on hover. Use "auto" to generate automatically
    $color: #000, // Text color
    $style: solid // Can be solid or hollow

  );
}

.song-search {
  margin: 0.5em !important;
}

#mobile-search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25em;;
  margin-bottom: 0.25em;
  width: 80%;
}

#title-bar-desktop {
  border-bottom: 0px;
}

#title-bar-mobile {
  border-bottom: 1px solid $dark-color;
  padding: 0px;
}

.title-bar-button {
  margin: 0px;
  border-radius: 0px;
}

#playback-desktop {
  background-color: $primary-color;
  height: 64px;
}

.seekbar, .volume-slider {
  display: inline-block;
  width: 100%;
}

.noui-center {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.auto-center {
  margin-top: auto;
  margin-bottom: auto;
}

#menu-desktop {
  background-color: $dark-color;
}

#main-view {
  background-color: $gray;
}

#playlist-container-desktop {
  width: 400px;
}

#playlist-desktop {
  background-color: $gray;
  border-left: 1px solid $gray-dark;
}

#playback-control {
  width: 400px;
}

.playback-button {
  // Extend the base selector to get core styles
  @extend %button;
  margin: 0px;
  color: $gray;
  &:hover, &:focus {
    color: $gray-light;
  }
}

.music-symbol {
  width: 5em;
  height: 5em;
  background-color: darken($dark-color, 5);
  border-radius: 0;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  color: $gray;
}

.now-playing {
  background: $dark-color;
  color: $gray-light;
}

.song-title {
  margin-top: 8px;
  margin-bottom: 4px;
  overflow: hidden;
  font-size: 1.25em;
}

.song-author {
  margin-bottom: 8px;
  margin-top: 4px;
  font-size: 1em;
  font-style: italic;
}

.fa-center {
  line-height: inherit;
}
