{% raw %}
<!doctype html>
<html lang="en" ng-app="application">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RPi Jukebox</title>
  <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
  <script src="./assets/js/foundation.js"></script>
  <script src="./assets/js/templates.js"></script>
  <script src="./assets/js/routes.js"></script>
  <script src="../assets/js/app.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=initGAPI"></script>


</head>
<body>
<zf-offcanvas zf-swipe-close="" id="mobile-menu" position="left" class="dark">
  <div ng-controller="menuCtrl" clas="grid-block">
    <section class="menu-list menu-mobile">
      <ul>
        <li ng-repeat="menuItem in menu" ui-sref-active="menu-active"><a class="{{menuItem.iconClass}}"
                                                                         ui-sref="{{menuItem.route}}">{{menuItem.text}}</a>
        </li>
      </ul>
    </section>
    <section class="menu-list menu-mobile">
      <header>Playlists</header>
      <ul>
        <li ng-repeat="playlist in playlists" ui-sref-active-eq="menu-active"><a ui-sref="{{'playlist/'+playlist.id}}"
                                                                                 class="{playlist.iconClass">{{playlist.name}}</a>
        </li>
      </ul>
    </section>
  </div>
</zf-offcanvas>
<zf-offcanvas zf-swipe-close="" id="mobile-player" position="right" class="dark">
</zf-offcanvas>

<div class="grid-frame vertical">
  <div class="show-for-small hide-for-large">
    <div class="primary title-bar" id="title-bar-mobile">
      <div class="center title">
        <span id="logo-mobile"><a href="/"><span style="color: #BC1142">RPi</span>Jukebox</a></span>
      </div>
      <span class="left"><a class="button primary title-bar-button" zf-toggle="mobile-menu"><i
        class="fa fa-bars fa-2x"></i></a></span>
      <span class="right"><a zf-toggle="mobile-player" class="button primary title-bar-button" ui-sref="settings"><i
        class="fa fa-play-circle fa-2x"></i></a></span>
    </div>
  </div>

  <div class="primary title-bar" id="title-bar-desktop">
    <div class="center" ng-controller="searchBarCtrl">
      <form ng-submit="search()">
            <span class="inline-label button-group auto-center">
          <input ng-model="query" type="search" placeholder="Search for songs">
          <a class="button secondary" ng-click="search()"><i class="fa fa-search fa-lg"></i></a>
          </span>
      </form>
    </div>
    <div class="hide-for-small show-for-large left title">
      <span id="logo"><a href="/"><span class="rpi">RPi</span><span class="jukebox">Jukebox</span></a></span>
    </div>
  </div>


  <div class="grid-block">
    <div class="grid-block medium-3 large-2 columns hide-for-small show-for-large" id="menu-desktop"
         ng-controller="menuCtrl">
      <div class="grid-content">
        <section class="menu-list">
          <ul>
            <li ng-repeat="menuItem in menu" ui-sref-active="menu-active"><a class="{{menuItem.iconClass}}"
                                                                             ui-sref="{{menuItem.route}}">{{menuItem.text}}</a>
            </li>
          </ul>
        </section>
        <section class="menu-list">
          <header>Playlists</header>
          <ul>
            <li ng-repeat="playlist in playlists" ui-sref-active-eq="menu-active"><a ui-sref="playlist/{{playlist.id}}"
                                                                                     class="{playlist.iconClass">{{playlist.name}}</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <ui-view class="grid-block" id="main-view">
    </ui-view>
    <div class="grid-block shrink hide-for-small show-for-large medium-2 large-4">
      <div ng-controller="QueueCtrl" class="grid-block vertical" id="queue-container-desktop">
        <div class="grid-block">
          <div class="grid-content">
            <section class="queue">
              <ul>
                <li ng-repeat="song in queue">
                  <div class="queue-item">
                    <div class="queue-thumb">
                      <img ng-src="{{song.thumbnail}}">
                    </div>
                    <div class="queue-desc">
                      <div class="auto-center"> <!-- needs a wrapper -->
                        <div class="marquee">
                          <div class="song-title">{{song.title}}</div>
                        </div>
                        <div class="song-uploader">{{song.uploader}}</div>
                      </div>
                    </div>

                    <div class="queue-optn">
                      <a ng-click="remove($index)"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                </li>
              </ul>
            </section>
          </div>
        </div>
        <div class="grid-block shrink now-playing-wrapper">
          <div class="grid-block shrink ">
            <div class="music-symbol">
              <i class="fa fa-3x fa-fw fa-center fa-music"></i>
            </div>
          </div>
          <div class="grid-block now-playing">
            <div class="auto-center">
              <div class="marquee">
                <h4 ng-bind="nowPlaying.title" class="song-title"></h4>
              </div>
              <div>
                <h5 ng-bind="nowPlaying.uploader" class="song-uploader"></h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="grid-block shrink hide-for-small show-for-large" id="playback-desktop" ng-controller="PlaybackCtrl">
    <div class="medium-3 large-2 columns"></div>
    <div class="grid-block">
      <div class="grid-content noui-center">
        <div ya-no-ui-slider="seekbarOptions" class="seekbar"></div>
      </div>
    </div>


    <div class="grid-block shrink" id="playback-control">
      <div class="grid-block shrink pl-ctl-buttons">
        <div class="auto-center">
          <a class="playback-button button-backward" href="#" ng-click="rewind()"><i
            class="fa fa-fw fa-backward fa-2x"></i></a>
          <a class="playback-button button-play" href="" ng-click="playPause()" ng-model-options="{ debounce: 500 }">
            <i class="fa fa-fw fa-play fa-2x" ng-hide="playing"></i>
            <i class="fa fa-fw fa-pause fa-2x" ng-show="playing"></i>
          </a>
          <a class="playback-button button-forward" href=""><i class="fa fa-fw fa-forward fa-2x"></i></a>
        </div>
      </div>
      <div class="grid-block auto-center" id="volume-control-desktop">
        <a class="playback-button button-mute" href="#">
          <i class="fa fa-fw fa-lg fa-volume-up"></i>
          <i class="fa fa-fw fa-lg fa-volume-off" style="display: none"></i>
        </a>

        <div class="grid-content noui-center">
          <div ya-no-ui-slider="volumeControlOptions" class="volume-slider"></div>
        </div>
      </div>
    </div>


  </div>

</div>
</body>
</html>
{% endraw %}
