<!doctype html>
<html lang="en" ng-app="application">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RPi Jukebox</title>
  <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
  <script src="./assets/js/foundation.js"></script>
  <script src="./assets/js/templates.js"></script>
  <script src="./assets/js/routes.js"></script>
  <script src="../assets/js/app.js"></script>
</head>
<body>
<div class="grid-frame vertical">
  <div class="grid-content" style="padding: 0;">

    <!-- title bar: Centered logo for mobile, left logo for desktop-->
    <div class="show-for-large">
      <div class="primary title-bar">
        <div class="center">
          <form>
            <input type="search" placeholder="SEXY SEARCH BOX" style="width:300px; display:inline;">
            <a href="#" class="button">Search</a>
          </form>
        </div>
      <span class="left title" style="font-weight: normal;">
          <span class="logo"><a href="/"><span style="color: #BC1142">RPi</span>Jukebox</a></span>
      </span>
      </div>
    </div>
    <div class="show-for-small hide-for-large">
      <div class="primary title-bar">
        <div class="center title" style="font-weight: normal">
          <span class="logo"><a href="/"><span style="color: #BC1142">RPi</span>Jukebox</a></span>
        </div>
        <span class="left "><a zf-toggle="sub-nav">Playlists</a></span>
        <span class="right"><a ui-sref="settings">Queue</a></span>
      </div>
    </div>
    <span class="grid-block">
    </span>
  </div>
</body>
</html>
