{% raw %}
<!doctype html>
<html lang="en" ng-app="application">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RPi Jukebox</title>
  <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
  <script src="./assets/js/foundation.js"></script>
  <script src="./assets/js/templates.js"></script>
  <script src="./assets/js/routes.js"></script>
  <script src="../assets/js/app.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=youtubeInit"></script>
</head>
<body>
<zf-offcanvas zf-swipe-close="" id="mobile-menu" position="left" class="dark">
</zf-offcanvas>
<zf-offcanvas zf-swipe-close="" id="mobile-player" position="right" class="dark">

</zf-offcanvas>

<div class="grid-frame vertical">

  <!-- title bar: Centered logo for mobile, left logo for desktop-->
  <div class="show-for-large">
    <div class="primary title-bar" id="title-bar-desktop">
      <div class="center">
        <label>
            <span class="inline-label button-group song-search">
          <input type="search" placeholder="Search for songs">
          <a href="#" class="button secondary"><i class="fa fa-search fa-lg"></i></a>
          </span>
        </label>
      </div>
      <span class="left title" ">
      <span id="logo"><a href="/"><span style="color: #BC1142">RPi</span>Jukebox</a></span>
      </span>
    </div>
  </div>
  <div class="show-for-small hide-for-large">
    <div class="primary title-bar" id="title-bar-mobile">
      <div class="center title">
        <span id="logo-mobile"><a href="/"><span style="color: #BC1142">RPi</span>Jukebox</a></span>
      </div>
      <span class="left"><a class="button primary title-bar-button" zf-toggle="mobile-menu"><i
        class="fa fa-bars fa-2x"></i></a></span>
      <span class="right"><a zf-toggle="mobile-player" class="button primary title-bar-button" ui-sref="settings"><i
        class="fa fa-play-circle fa-2x"></i></a></span>
    </div>
    <div class="menu-bar primary">
      <label id="mobile-search">
            <span class="inline-label button-group song-search">
          <input type="search" placeholder="Search for songs">
          <a href="#" class="button secondary"><i class="fa fa-search fa-lg"></i></a>
          </span>
      </label>
    </div>
  </div>

  <div class="grid-block">
    <div class="medium-3 large-2 columns hide-for-small show-for-large" style="background-color: #232323">
      <div class="grid-content" id="menu-desktop">
        <p style="color:white">test</p>
      </div>
    </div>
    <div class="grid-block">
    </div>
    <div ng-controller="PlaylistCtrl" class="grid-block shrink hide-for-small show-for-large">
      <div class="grid-block vertical" id="playlist-container-desktop">
        <div class="grid-block playlist" id="playlist-desktop">test</div>
        <div class="grid-block shrink now-playing">
          <div class="grid-block shrink">
          <div class="music-symbol">
            <i class="fa fa-3x fa-fw fa-center fa-music"></i>
          </div>
            <div class="grid-block">
              <div class="grid-content now-playing auto-center">
                <p ng-bind="nowPlaying.title" class="song-title"></p>
                <p ng-bind="nowPlaying.uploader" class="song-author"></p>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block shrink hide-for-small show-for-large" id="playback-desktop" ng-controller="PlaybackCtrl">
    <div class="medium-3 large-2 columns"></div>
    <div class="grid-block">
      <div class="grid-content noui-center">
        <div ya-no-ui-slider="seekbarOptions" class="seekbar"></div>
      </div>
    </div>


    <div class="grid-block shrink" id="playback-control">
      <div class="grid-block shrink pl-ctl-buttons">
        <div class="auto-center">
          <a class="playback-button button-backward" href="#"><i class="fa fa-fw fa-backward fa-2x"></i></a>
          <a class="playback-button button-play" href="" ng-click="pauseResume()" ng-model-options="{ debounce: 500 }">
            <i class="fa fa-fw fa-play fa-2x" ng-hide="playing"></i>
            <i class="fa fa-fw fa-pause fa-2x" ng-show="playing"></i>
          </a>
          <a class="playback-button button-forward" href=""><i class="fa fa-fw fa-forward fa-2x"></i></a>
        </div>
      </div>
      <div class="grid-block volume-control auto-center">
        <a class="playback-button button-mute" href="#">
          <i class="fa fa-fw fa-lg fa-volume-up"></i>
          <i class="fa fa-fw fa-lg fa-volume-off" style="display: none"></i>
        </a>

        <div class="grid-content noui-center">
          <div ya-no-ui-slider="volumeControlOptions" class="volume-slider"></div>
        </div>
      </div>
    </div>


  </div>

</div>
</body>
</html>
{% endraw %}
