---
name: search
url: /search?q&pageToken
controller: searchCtrl
---
<div class="grid-block search-view">
  <div ng-show="loading" class="loader-img">
    <img src="./assets/img/hourglass.gif">
  </div>
  <div ng-show="resultsEmpty() && !loading" class="grid-block auto-center">
    <p class="placeholder-text">There are no results to be shown.</p>
  </div>

  <div class="grid-block" ng-hide="loading || resultsEmpty()">
    <div class="grid-content">
      <section class="yt-search-results">
        <ul>
          <li ng-repeat="song in result.items">
             <div class="search-thumbnail">
               <img ng-src="{{song.thumbnail}}">
             </div>
              <div class="search-desc">
                <div class="song-title">{{song.title}}</div>
                <div>{{song.description}}</div>
              </div>
              <div class="search-actions"><a ng-click="enqueue(song)"><i class="fa fa-2x fa-plus-circle"></i></a></div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
</div>
